<!-- dailymotion-player.component.html -->
<!-- <div id="dmplayer"></div> -->

<!-- <div class="video-container" style="width: 500px; height: 500px">
  <iframe
    #videoFrame
    width="100%"
    height="100%"
    [src]="videoUrl"
    frameborder="0"
    allow="autoplay; fullscreen"
    allowfullscreen
  ></iframe>
  <button (click)="togglePlayPause()">Play/Pause</button>
  <button (click)="toggleControls()">Show/Hide Controls</button>
</div> -->

<!-- app.component.html -->
<div id="dailymotion-player" style="width: 640px; height: 360px"></div>
