/* General Styles */
.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  position: relative;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}
.navbar-links {
  width: 80%;
  text-align: center;
}
.navbar-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.navbar-menu button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  display: none;
}
